body { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc;
}


#emoji {
  font-size: 100px;              
  display: inline-block;         
  padding: 20px;                 
  cursor: pointer;               
  transition: filter 0.3s ease;  
}
